WPF_Client/Connected Services/ReadListServiceNS/ReadListService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReadListApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReadListApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReadList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReadList" nillable="true" type="tns:ReadList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReadList" nillable="true" type="tns:ArrayOfReadList" />
  <xs:complexType name="ReadList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="ReadingDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadList" nillable="true" type="tns:ReadList" />
</xs:schema>