ASPNetMVC_Client/Connected Services/ReadListNS/ReadListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyCompany.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyCompany.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyCompany.com/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ReadListService?xsd=xsd0" namespace="MyCompany.com" />
      <xsd:import schemaLocation="http://localhost:8733/ReadListService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ReadListService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReadListApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReadListContract_GetAllReadLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReadLists" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_GetAllReadLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReadListsResponse" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_FindByAuthorOrTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByAuthorOrTitle" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_FindByAuthorOrTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByAuthorOrTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_InsertReadList_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertReadList" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_InsertReadList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertReadListResponse" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_UpdateReadList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReadList" />
  </wsdl:message>
  <wsdl:message name="IReadListContract_UpdateReadList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReadListResponse" />
  </wsdl:message>
  <wsdl:portType name="IReadListContract">
    <wsdl:operation name="GetAllReadLists">
      <wsdl:input wsaw:Action="MyCompany.com/IReadListContract/GetAllReadLists" message="tns:IReadListContract_GetAllReadLists_InputMessage" />
      <wsdl:output wsaw:Action="MyCompany.com/IReadListContract/GetAllReadListsResponse" message="tns:IReadListContract_GetAllReadLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="MyCompany.com/IReadListContract/GetById" message="tns:IReadListContract_GetById_InputMessage" />
      <wsdl:output wsaw:Action="MyCompany.com/IReadListContract/GetByIdResponse" message="tns:IReadListContract_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByAuthorOrTitle">
      <wsdl:input wsaw:Action="MyCompany.com/IReadListContract/FindByAuthorOrTitle" message="tns:IReadListContract_FindByAuthorOrTitle_InputMessage" />
      <wsdl:output wsaw:Action="MyCompany.com/IReadListContract/FindByAuthorOrTitleResponse" message="tns:IReadListContract_FindByAuthorOrTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertReadList">
      <wsdl:input wsaw:Action="MyCompany.com/IReadListContract/InsertReadList" message="tns:IReadListContract_InsertReadList_InputMessage" />
      <wsdl:output wsaw:Action="MyCompany.com/IReadListContract/InsertReadListResponse" message="tns:IReadListContract_InsertReadList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="MyCompany.com/IReadListContract/DeleteById" message="tns:IReadListContract_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="MyCompany.com/IReadListContract/DeleteByIdResponse" message="tns:IReadListContract_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReadList">
      <wsdl:input wsaw:Action="MyCompany.com/IReadListContract/UpdateReadList" message="tns:IReadListContract_UpdateReadList_InputMessage" />
      <wsdl:output wsaw:Action="MyCompany.com/IReadListContract/UpdateReadListResponse" message="tns:IReadListContract_UpdateReadList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>