ASPNetMVC_Client/Connected Services/ReadListNS/ReadListService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MyCompany.com" elementFormDefault="qualified" targetNamespace="MyCompany.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ReadListService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReadListApp" />
  <xs:element name="GetAllReadLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReadListApp" minOccurs="0" name="GetAllReadListsResult" nillable="true" type="q1:ArrayOfReadList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReadListApp" minOccurs="0" name="GetByIdResult" nillable="true" type="q2:ReadList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByAuthorOrTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByAuthorOrTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReadListApp" minOccurs="0" name="FindByAuthorOrTitleResult" nillable="true" type="q3:ArrayOfReadList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReadList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="readingDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="rating" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReadListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertReadListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReadList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReadListApp" minOccurs="0" name="newReadList" nillable="true" type="q4:ReadList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReadListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReadListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>